{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
        <h1>Mon Compte<h1>
        <div></div>
        
        Bienvenue {{app.user.firstname}} dans Votre espace membre.
        
        
{% endblock %}
